.container{
    font-family: roboto;
}

/* ----------------------
----Header styling----
---------------------- */


.header{
    background-color: #264653;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding-left: 50px;
    padding-right: 50px;
}

.header-logo{
    font-size: 24px;
    color: white;
    font-weight: bold;
}

.header-links{
    color: white;
    font-size: 18px;
    display: flex;
    list-style-type: none;
    gap: 15px;
    align-items: flex-start;
    justify-content: flex-start;
}

.header-links > li > a{
    color: white;
    text-decoration: none;
}


/* ----------------------
----First Main styling----
---------------------- */

.first-main{
    background-color: #264653;
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 50px;
}

.first-main-left-side{
    flex: 1;
    display: flex;
    flex-direction: column;
}

.first-main-left-side > button{
    align-self: flex-start;
    background-color:#2a9d8f;
    border-radius: 5px;
}

.first-main-right-side{
    background-color: grey;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}


/* ----------------------
----Second Main Styling----
---------------------- */

.second-main{
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 20px 10px 20px;
}

.second-main-bottom{
    display: flex;
    justify-content: center;
}

.slot-1, .slot-2, .slot-3, .slot-4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.slot-1, .slot-2, .slot-3, .slot-4 > p{
    text-align: center;
}

.card{
    width: 100px;
    height: 100px;
    border: 3px solid #e76f51;
    border-radius: 10px;
}

/* ----------------------
----Third Main Styling----
---------------------- */

.third-main{
    background-color: lightslategray;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 20px 10px 20px;
}

#quote{
    font-size: 32px;
}

#person{
    align-self: flex-end;
}


p{

}
li{
    /* holder comment */
}



